.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f3f7ff;
    font-family: sans-serif;
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tarjeta-img {
    width: 360px;
    border-radius: 18px;
    margin-bottom: 20px;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
}

.payment {
    background-color: white;
    border-radius: 20px;
    padding: 50px 60px;
    box-shadow: 0px 15px 40px #adc1e075;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 70px;
    transform: scale(1.15);
}

p:before {
    content: attr(type);
    display: block;
    font-size: 20px;
    color: rgba(114, 114, 114, 0.801);
    margin-top: 35px;
}

input {
    width: 270px;
    border-bottom: 2px solid rgba(114, 114, 114, 0.801);
    color: rgba(114, 114, 114, 0.801);
}

input:focus {
    outline: none;
    border-bottom: 3px solid rgb(115, 115, 116);
}

button {
    background: #6366F1;
    padding: 10px 20px;
    border-radius: 20px;
    color: whitesmoke;
    margin-top: 20px;
    cursor: pointer;
}

.right {
    display: flex;
    flex-direction: column;
    width: 340px;
}

h2, header {
    color: rgba(73, 73, 73, 0.822);
    font-size: 35px;
}

.msg_error {
    background: rgba(218, 219, 219, 0.623);
    border-left: 5px solid rgba(231, 220, 220, 0.699);
    padding: 10px;
    color: rgba(143, 142, 142, 0.699);
    font-weight: bold;
}

.error_asterisco {
    color: rgba(204, 54, 54, 0.699);
    font-weight: bold;
    font-size: 18px;
}